<div class="row">
    <form class="col-sm-12 bg-secondary" method="post" action="/usuarios/create" enctype="multipart/form-data">
        <div class="row">
            <div class="form-group col-sm-12 col-md-8 col-lg-10 p-0">
                <div class="row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" value="<%= usuario ? usuario.nome : '' %>" required>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" value="<%= usuario ? usuario.email : '' %>"
                            required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label for="grupoId">Grupo</label>
                        <select id="grupoId" name="grupoId">
                            <% if (grupos && grupos.length> 0) { %>
                                <% grupos.forEach(grupo=> { %>
                                    <option value="<%= grupo.id %>" <%=usuario && usuario.grupoId==grupo.id ? 'selected' : '' %>>
                                        <%= grupo.descricao %>
                                    </option>
                                <% }); %>
                            <% } else { %>
                                <option value="">Nenhum grupo disponível</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-6">
                        <label for="fone">Telefone/Celular</label>
                        <input type="text" id="fone" name="fone">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-12 col-md-12 col-lg-4">
                        <label for="perfil">Perfil</label>
                        <select id="perfil" name="perfil">
                            <% if (perfis && perfis.length> 0) { %>
                                <% perfis.forEach(perfil=> { %>
                                    <option value="<%= perfil.nome %>" <%=usuario && usuario.perfil==perfil.nome ? 'selected' : '' %>>
                                        <%= perfil.nome %>
                                    </option>
                                <% }); %>
                            <% } else { %>
                                <option value="">Nenhum perfil disponível</option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-4">
                        <label for="senha">Senha</label>
                        <input type="password" id="senha" name="senha">
                    </div>
                    <div class="form-group col-sm-12 col-md-12 col-lg-4">
                        <label for="senha2">Confirmação de Senha</label>
                        <input type="password" id="senha2" name="senha2">
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-12 col-md-4 col-lg-2">
                <label>Foto</label>
                <img id="foto-avatar" src="/img/nophoto.png" alt="Foto do usuário" title="Selecionar imagem">
                <input type="file" id="arquivoFoto" name="arquivoFoto" accept="image/*" hidden>
            </div>
        </div>

        <div class="row my-10 px-10 g-10">
            <button class="btn btn-primary mt-10" type="submit">
                <i class='bx bxs-save'></i> Salvar
            </button>
            <a class="btn btn-danger mt-10" href="/usuarios">
                <i class='bx bx-x'></i> Cancelar
            </a>
        </div>
    </form>
</div>