<% if (user.permissoes.some(p=> p.modulo === 'Usuários' && p.acao.includes('1'))) { %>
  <div class="row">
    <a class="btn btn-primary" href="/usuarios/create">
      <i class="bx bx-plus-circle"></i>
      Adicionar Usuário
    </a>
</div>
<% } %>
<div class="row mt-10">
  <div class="col-sm-12 bg-secondary d-none">
    <% if (data) { %>
      <table id="table" class="display" style="width:100%">
        <thead>
          <th>Nome</th>
          <th>Email</th>
          <th>Grupo</th>
          <th>Telefone/Celular:</th>
          <th>Perfil</th>
          <th>Ativo</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <% data.forEach(item=> { %>
            <tr>
              <td>
                <%= item.nome %>
              </td>
              <td>
                <%= item.email %>
              </td>
              <td>
                <%= item.grupoNome %>
              </td>
              <td>
                <%= item.fone %>
              </td>
              <td>
                <%= item.perfil ? item.perfil : 'Não definido' %>
              </td>
              <td>
                <% if (item.ativo) { %>
                  <i class="bx bxs-check-circle fs-20 text-primary" alt="Ativo"></i>
                <% } else { %>
                    <i class="bx bxs-x-circle fs-20 text-warning" alt="Desativado"></i>
                <% } %>
              </td>
              <td>
                <div class="fit">
                  <% if (user.permissoes.some(p=> p.modulo === 'Usuários' && p.acao.includes('3'))) { %>
                    <a href="javascript:void(0)" onclick="resetPassword('<%= item.email %>')" title="Resetar Senha" class="bx bxs-lock-open"></a>
                  <% } %>  
                  <% if (user.permissoes.some(p=> p.modulo === 'Usuários' && p.acao.includes('3'))) { %>
                    <a href="/usuarios/edit/<%= item.id %>" class="bx bx-edit"></a>
                  <% } %>
                    <a href="/usuarios/details/<%= item.id %>" class="bx bx-detail"></a>
                  <% if (user.permissoes.some(p=> p.modulo === 'Usuários' && p.acao.includes('4'))) { %>
                    <a href="javascript:void(0)" onclick="Delete('/usuarios/delete/<%= item.id %>')" title="Excluir" class="bx bxs-trash"></a>
                  <% } %>
                </div>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <% } else { %>
        <p>Sem dados para exibir</p>
        <% } %>
  </div>
</div>