<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GENXR <%= typeof title !== 'undefined' ? ' - ' + title : '' %>
    </title>
    <link rel="stylesheet" href="/css/cores.css">
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body class="sidebar-expand">
    <%- include('./partials/header.ejs', { 
        title: typeof title !== 'undefined' ? title : '' ,
        subtitle: typeof subtitle !== 'undefined' ? subtitle : '' ,
        user: typeof user !== 'undefined' ? user : ''
    }) %>

    <main>
        <%- include('./partials/sidebar.ejs', { user: typeof user !== 'undefined' ? user : '' }); %>

        <div class="wrapper">
            <%- body %>
        </div>

    </main>

    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if (session.tempData && session.tempData.message) { %>
    <script>
          Swal.fire({
            icon: 'success',
            title: 'Sucesso',
            text: '<%= session.tempData.message %>',
          });
    </script>
        <% delete session.tempData; %>
    <% } %>
    <% if (typeof error !== 'undefined' && error != null) { %>
        <script>
            Swal.fire({
                title: "<%= error.title %>",
                html: "<%- error.message %>",
                icon: "error",
                confirmButtonColor: 'var(--primary)'
            });
        </script>
    <% } %>
    <%- typeof js !== 'undefined' ? include(js) : '' %>
</body>

</html>