<div class="row mt-10">
  <div class="col-sm-12 bg-secondary">
    <form id="form-ambiente-producao" method="post">
      <div class="row">
        <h2 class="col-12">Ambiente de Produção</h2>
      </div>
      <div class="row">
        <div class="form-group col-sm-12 col-md-4 col-lg-3">
          <label for="nome">Início da Safra</label>
          <input type="date" id="inicioSafra" name="inicioSafra" required
          value="<%= ambiente ? ambiente.inicioSafra : safraAno+'-01-01' %>"
          min="<%= safraAno %>-01-01" max="<%= safraAno %>-12-31" <%= ambiente ?
          'readonly' : '' %> />
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-3">
          <label for="moagemEstimada">Moagem Estimada</label>
          <input type="number" id="moagemEstimada" name="moagemEstimada"
          value="<%= ambiente ? ambiente.moagemEstimada : '' %>" required
          placeholder="Toneladas (t)" <%= ambiente ? 'readonly' : '' %>>
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-3">
          <label for="moagemReestimada">Moagem Reestimada</label>
          <input
            type="number"
            id="moagemReestimada"
            name="moagemReestimada"
            value="<%= ambiente ? ambiente.moagemReestimada : '' %>"
            placeholder="Toneladas (t)"
          />
        </div>
        <div class="form-group col-sm-12 col-md-4 col-lg-3">
          <label for="altitude">Altitude Média</label>
          <input type="number" id="altitude" name="altitude" value="<%= ambiente
          ? ambiente.altitude : '' %>" required <%= ambiente ? 'readonly' : ''
          %> />
        </div>
      </div>
      <div class="row px-10">
        <fieldset class="ambientes mt-10">
          <legend class="my-10">Ambientes</legend>
          <div class="form-group">
            <label for="nome">A</label>
            <input type="text" id="ambienteA" name="ambienteA" value="<%=
            ambiente ? ambiente.ambienteA : '' %>" required <%= ambiente ?
            'readonly' : '' %> />
          </div>
          <div class="form-group">
            <label for="nome">B</label>
            <input type="text" id="ambienteB" name="ambienteB" value="<%=
            ambiente ? ambiente.ambienteB : '' %>" required <%= ambiente ?
            'readonly' : '' %> />
          </div>
          <div class="form-group">
            <label for="nome">C</label>
            <input type="text" id="ambienteC" name="ambienteC" value="<%=
            ambiente ? ambiente.ambienteC : '' %>" required <%= ambiente ?
            'readonly' : '' %> />
          </div>
          <div class="form-group">
            <label for="nome">D</label>
            <input type="text" id="ambienteD" name="ambienteD" value="<%=
            ambiente ? ambiente.ambienteD : '' %>" required <%= ambiente ?
            'readonly' : '' %> />
          </div>
          <div class="form-group">
            <label for="nome">E</label>
            <input type="text" id="ambienteE" name="ambienteE" value="<%=
            ambiente ? ambiente.ambienteE : '' %>" required <%= ambiente ?
            'readonly' : '' %> />
          </div>
        </fieldset>
      </div>
      <div class="row my-20 px-10 g-10">
        <button type="submit" class="btn btn-primary">
          <i class="bx bx-save"></i> <%= ambiente ? 'Alterar' : 'Cadastrar' %>
          Ambiente de Produção
        </button>
      </div>
    </form>
  </div>
</div>
