<div class="row">

  <a class="btn btn-primary" href="/safras/upsert/0">
    <i class='bx bx-plus-circle'></i>
    Adicionar Safra
  </a>

</div>
<div class="row mt-10">
  <div class="col-sm-12 bg-secondary">
    <% if (data) { %>
      <table id="table" style="width: 100%;">
        <thead>
          <th>Ano</th>
          <th>Ativo</th>
          <th>Ações</th>
        </thead>
        <tbody>
          <% data.forEach(item=> { %>
            <tr>
              <td>
                <%= item.ano %>
              </td>
              <td>
                <input type="checkbox" id="ativo" name="ativo" <%= item.ativo ? 'checked' : 'unchecked' %> disabled>
                <label for="ativo"><%= item.ativo ? 'Sim' : 'Não' %></label>
              </td>
              <td class="fit">
                <a href="/safras/upsert/<%= item.id %>" class="bx bx-edit"></a>
                <a href="javascript:void(0)" onclick="Delete('/safras/delete/<%= item.id %>')" title="Excluir" class="bx bxs-trash"></a>
              </td>
            </tr>
            <% }); %>
        </tbody>
      </table>
      <% } else { %>
        <p>Sem dados para exibir</p>
        <% } %>
  </div>
</div>