<div class="row">
    <form class="col-sm-12 bg-secondary" method="post" action="/safras/upsert/<%= safra.id %>">
        <input type="hidden" id="id" name="id" value="<%= safra.id %>" >
        <div class="row">
            <div class="form-group col-sm-6 col-md-6">
                <label for="ano">Ano</label>
                <input type="text" id="ano" name="ano" value="<%= safra.ano %>" required>
            </div>
            <div class="form-checked col-sm-12 col-md-2">
                <input type="checkbox" id="ativo" name="ativo" value=<%= safra.ativo %> <%= safra.ativo ? 'checked' : 'unchecked' %>>
                <label for="ativo">Ativo</label>
            </div>
        </div>

        <div class="row my-10 px-10 g-10">
            <button class="btn btn-primary mt-10" type="submit">
                <i class='bx bxs-save'></i> Salvar
            </button>
            <a class="btn btn-danger mt-10" href="/safras">
                <i class='bx bx-x'></i> Cancelar
            </a>
        </div>
    </form>
</div>